
@using Veritas.Models;
@{
    ViewBag.Title = "Dashboard";
}
@model Veritas.Models.CONTRIBUTION

@{ 
    var contributions = new CONTRIBUTION();
    if (TempData["contrib"] != null)
    {
        contributions = (CONTRIBUTION)TempData["contrib"];
    }
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    jQuery(document).ready(function () {
        jquery("#welcome_modal").show();
    });

        // Load Charts and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Draw the pie chart when Charts is loaded.
        google.charts.setOnLoadCallback(drawDonutChart);

        // Draw the Line chartwhen Charts is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that draws the pie chart for
        function drawDonutChart() {

            // Create the data table 
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Title');
            data.addColumn('number', 'Distribution');
            data.addRows([
                ['Employee',@contributions.EMPLOYEE_CONTRIBUTION],
                ['Employer',@contributions.EMPLOYER_CONTRIBUTION],
                ['Fees', @contributions.TOTAL_FEE],
                ['VAT', @contributions.VAT_FEE],
                ['Net Cont.', @contributions.NET],
                ['Withdrawal', @contributions.WITHDRAWAL],
                ['Price', @contributions.PRICE],
                ['Units', @contributions.TOTAL_UNITS]
            ]);

            // Set options for  pie chart.
            var options = {
                title: 'Account Distribution',
                pieHole: 0.4,
                width: 500,
                height: 300
            };

            // Instantiate and draw the chart.
            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
        }

        // Callback that draws line .
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Month', 'Employee Contribution', 'Employer Contribution'],
                ['Jan', 1000, 400],
                ['Feb', 1170, 460],
                ['Mar', 660, 1120],
                ['Apr', 1030, 540]
            ]);

            var options = {
                title: 'Statistics',
                curveType: 'function',
                width: 480,
                legend: { position: 'bottom' }
            };

            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

            chart.draw(data, options);
        }

</script>

<style>
     #welcome_modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    overflow: auto;
    overflow-y: scroll;
}
</style>
<div class="container-fluid">
    
        <div class="row">
            <div id="dash-views-header">

                <div class="dash-header">
                    <h2>Retirement Savings Account Summary</h2>
                </div>
                <div class="col-sm-2">

                </div>
                <div class="col-sm-5">

                    <h2 id="account-header">Account Summary</h2>

                    <div id="Acc-graph">
                        <div id="donutchart" style=" height: 300px;"></div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <h2 id="contribution-header">Contributions</h2>

                    <div id="stats-graph">
                        <div id="curve_chart" style=" height: 300px;"></div>
                    </div>
                </div>
                </div>
            </div>
                <div class="clearfix"></div>
                
              <div class="row">
                  <div class="col-sm-2">
                  </div>
                        <div id="dash-view">
                            <div class="col-md-5">
                                <div id="blog-feeds">
                                    <div id="blog-header">
                                        <h2 id="blog-title">Blog Feed</h2>
                                    </div>
                                    <div id="blog-content">
                                        <img src="~/Image/slider-image.jpg" class="img-responsive" />
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-5">

                            </div>
                            
                        </div>
                    </div>
            <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-md-5">
                            <div id="Acc-officer">
                                <div id="acc-off-title">
                                    <h2 id="acc-title">Your Account Officer</h2>
                                </div>
                                <div id="acc-content">
                                    <h2>Name :ABDUL YAKUBU</h2>
                                    <h2>Phone :9099713790</h2>
                                    <h2>Email : Adbulyakubu@veritas.com</h2>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div id="Referral">
                                <div id="ref-title">
                                    <h2 id="ref-header">Your Referrals</h2>
                                </div>
                                <div id="ref-content">
                                    <h2 id="ref-count">0<span id="ref-text">Referrals</span></h2>
                                    <h2 id="point-count">0<span id="point-text">Points</span></h2>
                                </div>
                            </div>
                        </div>
                    </div>
           </div>


