@using Veritas.Models

@{
    ViewBag.Title = "UserProfile";
}

@{
    Html.RenderPartial("~/Views/Shared/_sidebar.cshtml");
}

@{
    var profile = new User();
    if (TempData["profile"] != null)
    {
        profile = (User)TempData["profile"];
    }

    string fullname = profile.FIRSTNAME + " " + profile.LASTNAME;
}
<div class="profile-page" id="main">
    @{
        Html.RenderPartial("header");
    }
    <div class="col_ col-md-3">
        
                <div align="center">
                    <div class="h1">Profile</div>
                    <img class="img-circle img-responsive img-rounded img-with-border" src="~/Image/avatar.jpg" />
                    <div class="h2">@fullname</div>
                    <div class="h3">Customer</div>
                    <div class="container-fluid">
                        <button class="upload">Upload New Image</button>
                    </div>
                    <div class="container-fluid">
                        <button class="delete">Delete</button>
                    </div>
                </div>
                <div class="vl"></div>
            </div>
    <div class="col_ col-md-9 info-col">
        <div class="container">
            <div class="title_">
                <span>Basic Info</span>
            </div>
        </div>
        <hr />
        <form method="post" action="/home/UpdateProfile" id="prof-for">
            <div class="container">
                <label>Title</label>
                <input type="text" class="form-input form-control" name="TITLE" placeholder="First Name" value="@profile.TITLE" autofocus>
            </div>
            <div class="col-md-6">
                <label>First Name</label>
                <input type="text" class="form-input form-control" name="FIRSTNAME" placeholder="First Name" value="@profile.FIRSTNAME" autofocus>
            </div>
            <div class="col-md-6">
                <label>Last Name</label>
                <input type="text" class="form-input form-control" name="LASTNAME" placeholder="Last Name" value="@profile.LASTNAME" autofocus>
            </div>
            <div class="col-md-6">
                <label>Phone Number</label>
                <input type="text" class="form-input form-control" name="PHONE" placeholder="First Name" value="@profile.PHONE" autofocus>
            </div>
            <div class="col-md-6">
                <label>Email Address</label>
                <input type="text" class="form-input form-control" name="EMAIL" placeholder="Last Name" value="@profile.EMAIL" disabled>
            </div>
            <div class="container">
                <div class="title_">
                    <span>Contact Info</span>
                </div>
            </div>
            <hr />
            <div class="col-md-6">
                <label>Company</label>
                <input type="text" class="form-input form-control" name="COMPANY" placeholder="Last Name" value="@profile.COMPANY" autofocus>
            </div>
            <div class="col-md-6">
                <label>Street</label>
                <input type="text" class="form-input form-control" name="STREET" placeholder="Last Name" value="@profile.STREET" autofocus>
            </div>
            <div class="col-md-6">
                <label>City</label>
                <input type="text" class="form-input form-control" name="CITY" placeholder="Last Name" value="@profile.CITY" autofocus>
            </div>
            <div class="col-md-6">
                <label>State</label>
                <input type="text" class="form-input form-control" name="STATE" placeholder="Last Name" value="@profile.STATE" autofocus>
            </div>
            <div class="col-md-6">
                <label>Zip Code</label>
                <input type="text" class="form-input form-control" name="ZIP" placeholder="Last Name" value="@profile.ZIP" autofocus>
            </div>
            <div class="col-md-6">
                <label>Country</label>
                <input type="text" class="form-input form-control" name="COUNTRY" placeholder="Last Name" value="@profile.COUNTRY" autofocus>
                <input type="hidden"  name="USERID" value="@profile.USERID">

            </div>
            <div class="container">
                <div class="title_">
                    <span>Account Info</span>
                </div>
                <div class="title-head-button">
                    <button class="title-head-button1">Cancel</button>
                    <button class="title-head-button2" id="upPro">Save</button>
                </div>
            </div>
        </form>
        <hr />
        <form method="post" action="" id="">
            <div class="col-md-4">
                <label>Old Password</label>
                <input type="text" class="form-input form-control" name="old_pass" placeholder="Old Password" autofocus>
            </div>
            <div class="col-md-4">
                <label>New Password</label>
                <input type="text" class="form-input form-control" name="new_pass" placeholder="New Password" autofocus>
            </div>
            <div class="col-md-4">
                <label>Confirm Password</label>
                <input type="text" class="form-input form-control" name="con_pass" placeholder="Confirm Password" autofocus>
            </div>
            <div class="title-head-button">
                <button class="title-head-button1" type="submit">Cancel</button>
                <button class="title-head-button2">Save</button>
            </div>
            <div id="forgot-password">
                <span>Forgot your password?</span>
                <a href="#">click here</a>
            </div>
        </form>
    </div>
    @{
        Html.RenderPartial("footer");
    }
</div>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>